Library/*
Log/*
PC/*
.vs/*
Library/ArtifactDB
Library/ArtifactDB-lock
Assets/Plugins/Sirenix
Assets/Plugins/Sirenix/*
Assets/SineVFX/*
.vs/TouhouMachineLearning2021/v16/Server/sqlite3/db.lock
Temp/*
*.cache
.vs/TouhouMachineLearning2021/v16/.suo
*.log
/*.csproj
*.csproj
*.cache
Packages/*
OtherSolution/Server/.vs/*
OtherSolution/xls检测更新/bin/*
OtherSolution/xls检测更新/.vs/*
UserSettings/EditorUserSettings.asset
ProjectSettings/ProjectVersion.txt
ProjectSettings/PackageManagerSettings.asset
.consulo/

*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.asset